<%- include('../../useheader')%>

<div  class="user_div">
    <h1>Fil d'actualité</h1>
</div>
<div class="userdiv1">
    <div class="userdiv2">

<% userhomeobj.forEach(function(item) {%>
        <div class="userdiv3 ui card">
          <div class="content">
            <div class="left floated">Utilisateur <%= item.publication_idUtilisateur %> </div>
            <div class="right floated"> <%= item.intitule %></div>
          </div>
          <div class="image">
              <img class="ui image" src="../../../img/<%- item.image %>">
          </div>
          <div class="content">
            <%= item.description%>
          </div>
          <div class="extra content">
            <div class="left floated icon">
              <a><i class="heart outline icon"></i></a>
              <%= item.likes%>
            </div>
            <div class="right floated">
              <a href="/solopost" class="comment_button"> Ajouter un commentaire...</a>
            </div>
            <div class="right floated">
              <p> 3 commentaires &nbsp</p>
            </div>
          </div>
        </div>
<% })%>
    </div>
</div>

<!-- <a href='/com'><button class="ui button primary"><i class="download icon"></i>Ajouter un commentaire</button></a> -->
<%- include('../../footer')%>